doctype html

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

title NUI券売機

link(rel='stylesheet', href='css/layout.css', media='all')
- scripts = []
- scripts.push('//d3js.org/d3.v3')
- scripts.push('//code.jquery.com/jquery-2.1.1')
- scripts.push('//js.leapmotion.com/leap-0.6.2')
//- scripts.push('//js.leapmotion.com/leap-plugins-0.1.7')
- for (i = 0; i < scripts.length; i++) {
-   src = scripts[i] + '.min.js'
-   src = 'js/' + src.slice(src.lastIndexOf('/') + 1)
script(src=src)
- }
script(src='//localhost:6556/eyetribe.min.js')

script(src='js/extends.js')
script(src='js/main_pane.js')

script(src='js/vector.js')
script(src='js/touchCalibrator.js')
script(src='js/lang_selector.js')

script(src='js/ekidata.js')
script(src='js/pricedata.js')

#container
  block content
  script(src='js/main.js')

aside#debug
  #gaze-info
  #leap-info
  #cursor-info Cursor:
    br
