extends _layout

block content
  section#lang-selector.top

  section#main.top
    nav#sidemenu

    header#message
    #content
      include _price_panel
      include _railway_map
      include _station_search

    nav#controller
      .raw
        #main-prev.button prev
        #calibrate.button Calibrate
        #main-next.button next

  script(src='js/main.js')
