extends _layout

block content
  section#lang-selector.top
    include _select_lang.html

  section#main.top
    nav.sidemenu
      img.logo(src='images/aitc_logo_large.png')
      div.item#ticket.selected きっぷ
      div.item#ic ICカード

    .content
      header
        span#main-header

      include _price_panel
      include _railway_map
      include _station_search
      include _payment_overlay

      nav#main-controller
        .raw
          button#main-prev prev
          button#calibrate Calibrate
          button#main-next next
