extends layout

block content
  header
  #content

  #controller
    #calibrate.button Calibrate

  #debug
    #leap-info

  script(src='js/vector.js')
  script(src='js/touchCalibrator.js')
  script(src='js/price_panel.js')
  script(src='js/main.js')
