extends _layout

block content
  section#lang-selector.top
    include _select_lang.html

  section#main.top
    nav.sidemenu
      div.item#ticket.selected 切符
      div.item#ic ICカード

    .content
      header#main-message.message

      include _price_panel
      include _railway_map
      include _station_search

      nav#main-controller
        .raw
          button#main-prev prev
          button#calibrate Calibrate
          button#main-next next

  script(src='js/main.js')
