doctype html

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

title NUI券売機

link(rel='stylesheet', href='css/layout.css', media='all')
script(src='//code.jquery.com/jquery-2.1.1.min.js')
script(src='//js.leapmotion.com/leap-0.6.1.min.js')
script(src='//js.leapmotion.com/leap-plugins-0.1.6.min.js')
script(src='//localhost:6556/eyetribe.min.js')

#container
  block content
