*
  margin 0
  padding 0
  -moz-user-select none
  -webkit-user-select none

$message-height = 48px

$content-left = 30px
$content-width = 1220px
$content-height = 460px

$button-width = 250px
$button-height = 120px

$tooltip-left = $content-left + 8px
$tooltip-top = $message-height + $content-height + 20px
$tooltip-width = $content-width
$tooltip-height = $button-height

$backgroud-color-deep = #008000
$backgroud-color-thin = #f8fff8


#container
  width 100%
  height 100%
  background-color $backgroud-color-thin

#message
  line-height $message-height
  height $message-height
  vertical-align bottom
  color white
  background-color $backgroud-color-deep
  font-size 32px
  padding 5px 20px

#content
  padding 0 $content-left 30px

  background -moz-linear-gradient(
      top, $backgroud-color-deep, $backgroud-color-thin
    )
  background -webkit-gradient(
      linear, center top, center bottom,
      from($backgroud-color-deep), to($backgroud-color-thin)
    )

  .panel
    width $content-width
    height $content-height

#prices
  display table

  .row
    display table-row

  .cell
    display table-cell
    vertical-align middle
    padding 5px 8px

.button
  display table-cell
  width $button-width
  height $button-height

  font-size 40px
  text-align center
  vertical-align middle

  color white
  background-color black
  border 4px outset white

  &.focus
    background-color red

  &.calibrating
    background-color #888


#railway-map
  background-color black

  circle.station
    fill #ccc


#controller
  display table-row
  .button.selected
    background-color red


#tooltip
  display none
  left: $tooltip-left
  top: $tooltip-top
  width $tooltip-width
  height $tooltip-height
  border 1px solid #000
  background #fff
  padding 5px


.cursor
  display none
  width 20px
  height 20px
  border 1px solid #000

#gaze-cursor
  border-color red

#tip-cursor
  border-color blue
  &.touching
    background-color blue


#debug
  margin-top 10px
  background-color #eee
