*
  margin 0
  padding 0
  -moz-user-select none
  -webkit-user-select none

$message-height = 48px

$sidemenu-width = 100px

$content-left = 30px
$content-width = 1220px - $sidemenu-width
$content-height = 460px

$button-width = 200px
$button-height = 120px
$controller-button-width = 350px
$controller-button-height = 100px

$tooltip-left = $sidemenu-width + 8px
$tooltip-top = $message-height + $content-height + 20px
$tooltip-width = $content-width
$tooltip-height = $button-height

$background-color-deep = #0e91f2
$background-color-thin = #f0f9ff


.hidden
  display: none


#container
  width 100%
  height 100%
  background-color $background-color-thin

#main
  .sidemenu
    float left
    width $sidemenu-width

    .item
      width $sidemenu-width - 20px
      margin 20px 0
      padding 10px 5px
      color: #fff
      background-color #000

      &.selected
        border solid 1px #f00
        border-left none
      border-radius 0 30px 30px 0

  .content
    margin-left $sidemenu-width

  .message
    line-height $message-height
    height $message-height
    vertical-align bottom
    color white
    background-color $background-color-deep
    font-size 32px
    padding 5px 20px

  .pane
    width $content-width
    height $content-height
    padding 0 $content-left 30px

    background -moz-linear-gradient(
        top, $background-color-deep, $background-color-thin
      )
    background -webkit-gradient(
        linear, center top, center bottom,
        from($background-color-deep), to($background-color-thin)
      )

#prices
  display table

  .row
    display table-row

  .cell
    display table-cell
    vertical-align middle
    padding 5px 8px

button
  width $button-width
  height $button-height

  font-size 40px
  __text-align center
  __vertical-align middle

  color #000
  background-color #eee
  __border 4px outset #eee
  border-radius 30px
  outline none

  &.hover
  &:hover
    background-color #fbfbb9

  &:active
    background-color #fbfbb9
    color: #f66;

  &.calibrating
    background-color #888


#railway-map
  background-color #fffaf0

  circle.station
    stroke #000
    fill #fff


#main-controller
  display table
  margin 0 auto
  .raw
    display table-row
  button
    width $controller-button-width
    height $controller-button-height
    margin 0 10px
    &.selected
      background-color #f00

#tooltip
  display none
  left $tooltip-left
  top $tooltip-top
  width $tooltip-width
  height $tooltip-height
  border 1px solid $background-color-deep
  background #fbfbb9
  padding 5px


.cursor
  display none
  width 20px
  height 20px
  border 1px solid #000

#gaze-cursor
  border-color red

#tip-cursor
  border-color blue
  &.touching
    background-color blue


#debug
  margin 10px
  background-color #eee
  font-size 10pt
