*
  margin 0
  padding 0

$backgroud-color-deep = #008000
$backgroud-color-thin = #f8fff8

#container
  width 100%
  height 100%
  background-color $backgroud-color-thin

#message
  color white
  background-color $backgroud-color-deep
  font-size 32px
  padding 10px 20px
  min-height 42px

#content
  height 460px
  padding 0 30px 30px

  background -moz-linear-gradient(
      top, $backgroud-color-deep, $backgroud-color-thin
    )
  background -webkit-gradient(
      linear, center top, center bottom,
      from($backgroud-color-deep), to($backgroud-color-thin)
    )

#prices
  display table

  .row
    display table-row

  .cell
    display table-cell
    vertical-align middle
    padding 5px 8px

.button
  display table-cell
  width 250px
  height 120px

  font-size 40px
  text-align center
  vertical-align middle

  color white
  background-color black
  border 4px outset white

  &.focus
    background-color red

  &.calibrating
    background-color #888


.cursor
  display none
  width 20px
  height 20px
  border 1px solid #000

#railway_map
  background-color black

  circle.station
    fill #ccc

#gaze
  border-color red

#tip
  border-color blue
  &.touching
    background-color blue

#controller
  .button.selected
    background-color red
